<html>
	<head>
		<title>Welcome to Ansible!</title>
	</head>
	<body>
		<h1>Provisioned by {{provisioner_tool}}</h1>
		<h1>Configured by {{cfg_mgr_tool}}</h1>
		<h1>IP Address  {{ip_addr.stdout}}</h1>
		<h1>Hostname {{hostname.stdout}}</h1>
		<h1>Ansible OS Family {{ansible_os_family}}</h1>
		<h1>Ansible Distribution {{ansible_distribution}}</h1>
	</body>
</html>
